body, html { 
    background: url(background.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.main{
    text-align: center;
    margin: 15% 9% 20% 7%;
    border-radius: 2px;
}
.text{
    background-color: lightgreen;
    margin-bottom: 50px;
}